body, html { font-size: 16px; font-family: 'Open Sans', sans-serif; min-height: 100% !important; height: 100%; }
#wrapper {
	overflow: hidden;
	padding-top: 70px;
}

img { display: block; max-width: 100%; }
*{ margin: 0; padding: 0; }

strong {
	font-weight: 700;
}

a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}

/* Heading font size */
h1,h2,h3,h4,h5,h6,p { margin: 0; font-weight: normal;
	a { text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

/* paragraphs */
p {
	font-size: 16px;
	line-height: 24px;
}

/* normal classes */
.image-center {	margin-left: auto; margin-right: auto; display: block; }
.heigth-full { height: 100%; }
.display-table { height: 100%; width: 100%; display: table;
	.display-table-cell { width: 100%; display: table-cell; vertical-align: middle; }
}
.dflex{
	display: flex;
}
.display-none { display: none; }
.height-none { height: 0; overflow: hidden; }

/* margins */
.mg-b0 { margin-bottom: 0px; }
.mg-b5 { margin-bottom: 5px; }
.mg-b10 { margin-bottom: 10px; }
.mg-b20 { margin-bottom: 20px; }
.mg-b30 { margin-bottom: 30px; }
.mg-b40 { margin-bottom: 40px; }
.mg-b50 { margin-bottom: 50px; }
.mg-b60 { margin-bottom: 60px; }
.mg-b70 { margin-bottom: 70px; }

.mg-t0 { margin-bottom: 0px; }
.mg-t15 { margin-top: 15px; }
.mg-t10 { margin-top: 10px; }
.mg-t20 { margin-top: 20px; }
.mg-t30 { margin-top: 30px; }
.mg-t40 { margin-top: 40px; }
.mg-t50 { margin-top: 50px; }
.mg-t60 { margin-top: 60px; }
.mg-t70 { margin-top: 70px; }

.mg-r10 { margin-right: 10px; }
.mg-r15 { margin-right: 15px; }
.mg-r20 { margin-right: 20px; }

.mg-l10 { margin-left: 10px; }
.mg-l15 { margin-left: 15px; }
.mg-l20 { margin-left: 20px; }

/* paddings */
.pd-b0 { padding-bottom: 0px; }
.pd-b10 { padding-bottom: 10px; }
.pd-b20 { padding-bottom: 20px; }
.pd-b30 { padding-bottom: 30px; }
.pd-b40 { padding-bottom: 40px; }
.pd-b50 { padding-bottom: 50px; }
.pd-b60 { padding-bottom: 60px; }
.pd-b70 { padding-bottom: 70px; }

.pd-t10 { padding-top: 10px; }
.pd-t15 { padding-top: 15px; }
.pd-t20 { padding-top: 20px; }
.pd-t30 { padding-top: 30px; }
.pd-t40 { padding-top: 40px; }
.pd-t50 { padding-top: 50px; }
.pd-t60 { padding-top: 60px; }
.pd-t70 { padding-top: 70px; }
.pd-t80 { padding-top: 80px; }

/* background colors */
.light-bg { background-color: $light-color; }
.primary-bg { background-color: $primary-color; }
.secondary-bg { background-color: $secondary-color; }
.tertiary-bg { background-color: $tertiary-color; }
.quaternary-bg { background-color: $quaternary-color; }
.quinary-bg { background-color: $quinary-color; }
.senary-bg { background-color: $senary-color; }
.septenary-bg { background-color: $septenary-color; }
.octonary-bg { background-color: $octonary-color; }
.nonary-bg { background-color: $nonary-color; }
.decimal-bg { background-color: $decimal-color; }

/* colors */
.primary-color { color: $primary-color !important; }
.secondary-color { color: $secondary-color !important; }
.tertiary-color { color: $tertiary-color !important; }
.quaternary-color { color: $quaternary-color !important; }
.quinary-color { color: $quinary-color !important; }
.senary-color { color: $senary-color !important; }
.septenary-color { color: $septenary-color !important; }
.octonary-color { color: $octonary-color !important; }
.nonary-color { color: $nonary-color !important; }
.decimal-color { color: $decimal-color !important; }
.text-color { color: $text-color !important; }

/* Custom Checkbox Styling */
.custom-check-label {
	margin-bottom: 0;
	line-height: 26px;
	padding-left: 32px;
	position: relative;
	label{
		font-weight: 400;
	}
}
.custom-checkbox {
	display: inline-block;
	background: transparent;
	vertical-align: top;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	&.no-label{
		left: 15px;
	}
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		margin-top: 0px;
		z-index: 1;
	}
	.icon-check {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin-bottom: 0;
		margin-top: 0;
		margin-right: 10px;
		background: $decimal-color;
		@include border-radius(4px);
	}
	input:checked ~ .icon-check {
		background: $primary-color;
		&:after{
		    content: "";
		    height: 7px;
		    width: 12px;
		    border-width: 0 0 2px 2px;
		    border-color: $light-color;
		    border-style: solid;
		    display: inline-block;
		    position: relative;
		    left: 4px;
		    transform: rotate(-45deg);
		    top: -7px;
		}
	}
}


/* horizontal rular */
.icon {
	@include transition(all 0.3s);
	display: inline-block;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-image: url('../images/sprite.png');
	&.icon-55 {
		height: 55px;
		width: 55px;
	}
	&.icon-20 {
		height: 20px;
		width: 20px;				
	}
	&.icon-40 {
		height: 40px;
		width: 40px;				
	}
	&.icon-arrow { background-position: 0 0; }

}
/* Global icons Ends */

/* Buttons Styling */
.btn {
	text-decoration: none;
	font-weight: 700;
}

.long-btn0 { padding-left: 0px; padding-right: 0px; }
.long-btn5 { padding-left: 5px; padding-right: 5px; }
.long-btn30 { padding-left: 30px; padding-right: 30px; }
.long-btn50 { padding-left: 50px; padding-right: 50px; }
.long-btn70 { padding-left: 70px; padding-right: 70px; }
.long-btn100 { padding-left: 100px; padding-right: 100px; }


.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover, &:focus {
		background-color: $primary-color;
		border-color: $primary-color;
		opacity: 0.8;
	}
	&.btn-clear {
		color: $primary-color;
		background-color: $transparent-color;
		&:hover {
			background-color: $primary-color;
			color: $light-color;
			opacity: 1;
		}
	}
}

.btn-info {
	background-color: $tertiary-color;
	border-color: $tertiary-color;
	&:hover, &:focus {
		background-color: $tertiary-color;
		border-color: $tertiary-color;
		opacity: 0.6;
	}
	&.btn-clear {
		color: $tertiary-color;
		background-color: $transparent-color;
		&:hover {
			background-color: $tertiary-color;
			color: $light-color;
			opacity: 1;
		}
	}
}

/* Dashboard styling */
.dashboard-category {
	padding: 30px 0;
	.category-box {
		padding: 15px;
		margin-bottom: 10px;
		cursor: pointer;
		position: relative;
		@include border-radius(5px);
		@include boxshadow(0 0px 15px -2px rgba($dark-color, 0.5));
		.image-box {
			text-align: center;
			img{
				margin: 0 auto;
			}
		}
		.overlay{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba($primary-color, 0.5);
			opacity: 0;
			@include transition(all 0.6s ease-in-out 0.2s);
			p{
				font-size: 20px;
				color: $light-color;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
			}
		}
		&:hover{
			@include boxshadow(0 0px 15px -2px rgba($primary-color, 0.5));
			.overlay{
				opacity: 1;
			}
		}
	}
	.category-name {
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		text-shadow: 0 1px 1px $dark-color;
		margin-bottom: 30px;
	}
}

/* Gateway page */
.dashboardWrapper {
	display: flex;
	height: calc(100vh - 70px);
	position: relative;
	.sidebartoggleBtn {
		position: absolute;
		left: 300px;
		top: 0px;
		background: $primary-color;
		color: $light-color;
		height: 50px;
		width: 50px;
		padding: 0;
		text-align: center;
		z-index: 99;
		@include transition(left 0.4s);
		i{
			font-size: 48px;
			&.fa-angle-right{
				display: none;
			}
			&.fa-angle-left{
				display: block;
			}
		}
		&.active{
			left: 0;
			.fa-angle-right{
				display: block;
			}
			.fa-angle-left{
				display: none;
			}
		}
	}
	/* Side Panel */
	.sidePanel{
		height: calc(100vh - 70px);
		overflow: auto;
		width: 300px;
		padding: 15px;
		margin-right: 15px;
		background: $decimal-color;
		position: absolute;
		left: 0;
		@include transition(left 0.4s);
		.panelTitle{
			color: $primary-color;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 15px;
		}
		.searchBox{}
		.sidebarList {
			margin-top: 5px;
			.panel{
				background: none;
				padding: 0;
				border: none;
				@include boxshadow(none); 
			}
			.panel-heading {
				background: none;
				border: none;
				@include border-radius(0);
				padding: 0;
				a{
					border: 1px solid $border-color;
				    color: rgba($text-color, 0.8);
				    font-size: 16px;
				    display: block;
				    background: rgba($light-color, 0.4);
				    padding: 10px 10px 10px 30px;
				    @include border-radius(4px);
				    text-decoration: none;
				    position: relative;
				    .fa-caret-right,
				    .fa-caret-down {
				    	display: none;
				    	position: absolute;
				    	left: 15px;
				    	top: 8px;
				    	font-size: 20px;
				    }
				    &[aria-expanded="true"]{
				    	.fa-caret-down{
				    		display: block;
				    		left: 12px;
				    	}
				    }
				    &[aria-expanded="false"]{
				    	.fa-caret-right{
				    		display: block;
				    	}
				    }
				}
			}
			.panel-collapse{
				height: auto;
			}
			.panel-body{
				padding: 0;
				border: 1px solid $border-color;
				.submenu {
					padding: 5px 0;
					li{
						list-style: none;
						a{
							color: $text-color;
							margin: 3px 0 3px;
							padding: 5px 10px 5px 20px;
							font-size: 16px;
							display: block;
							text-decoration: none;
							&:hover {
								background: $primary-color;
								color: $light-color;
							}
						}
					}
				}
			}
		}
		&.collapsed{
			left: -300px;
		}
	}
	/* Main Container */
	.rightCntr {
		height: calc(100vh - 70px);
		overflow: auto;
		width: 100%;
		padding: 60px 15px 20px 315px;
		@include transition(padding 0.4s);
		.mainTitle {
			color: $primary-color;
			font-weight: 600;
			font-size: 30px;
			margin-bottom: 15px;
		}
		&.expend{
			width: calc(100%);
			left: 0;
			padding-left: 15px;
		}
	}
}
.node-data {
	align-items: center;
	.node-list {
		background: $decimal2-color;
		padding: 20px 15px 15px;
		height: 100%;
		@include boxshadow(0 0 3px 1px $border-color);
		h3{
			font-size: 24px;
			color: $primary-color;
			margin-bottom: 15px;
			font-weight: 600;
		}
		.table{
			margin-top: 15px;
			margin-bottom: 15px;
			thead{
				tr{
					th{
						font-weight: 400;
						background: $decimal-color;
					}
				}
			}
			tbody{
				tr{
					td{

					}
					&:hover {
						background: rgba($primary-color, 0.4);
					}
				}
			}
		}
	}
}

/* Live Data */
.sideMenuList {
	margin: 0 -15px;
	li{
		a{
			background: rgba($light-color, 0.6);
			display: block;
			padding: 10px 15px;
			margin-bottom: 1px;
			text-decoration: none;
			color: $text-color;
			&:hover{
				background: $primary-color;
				color: $light-color;
			}
		}
	}
}

/* Tabs */
.jnjTabs {
	.nav-tabs{
		border-bottom: 3px solid $primary-color;
		li{
			margin-bottom: 0;
			a{
				border: none;
				@include border-radius(0);
				background: $decimal-color;
				color: $primary-color;
			}
		}
		li:hover{
			a{
				background: $decimal-color;
				border: none;
				@include border-radius(0);
			}
		}
		li.active{
			a{
				border: none;
				@include border-radius(0);
				background: $primary-color;
				color: $light-color;
			}
		}
	}
	.tab-content {
		padding: 15px;
	}
}

@media only screen and (max-width: 1199px)  {
	/* Gateway page */
	.dashboardWrapper {
		.sidebartoggleBtn {
			left: 200px;
		}
		/* Side Panel */
		.sidePanel{
			width: 200px;
			&.collapsed{
				left: -200px;
			}
		}
		/* Main Container */
		.rightCntr {
			padding: 40px 15px 20px 215px;
			&.expend{
				padding-left: 15px;
			}
		}
	}	
}

@media only screen and (max-width: 991px)  {
	/* Gateway page */
	.dashboardWrapper {
		.sidebartoggleBtn {
			left: 0px;
			i{
				font-size: 48px;
				&.fa-angle-right{
					display: block;
				}
				&.fa-angle-left{
					display: none;
				}
			}
			&.active{
				left: 200px;
				.fa-angle-right{
					display: none;
				}
				.fa-angle-left{
					display: block;
				}
			}
		}
		/* Side Panel */
		.sidePanel{
			width: 200px;
			position: absolute;
			z-index: 99;
			left: -200px;
			&.collapsed{
				left: 0;
			}
		}
		/* Main Container */
		.rightCntr {
			padding-left: 15px;
		}
	}
}

@media only screen and (max-width: 767px)  {

	.mg-x-b0 { margin-bottom: 0px; }
	.mg-x-b5 { margin-bottom: 5px; }
	.mg-x-b10 { margin-bottom: 10px; }
	.mg-x-b20 { margin-bottom: 20px; }
	.mg-x-b30 { margin-bottom: 30px; }
	.mg-x-b40 { margin-bottom: 40px; }
	.mg-x-b50 { margin-bottom: 50px; }
	.mg-x-b60 { margin-bottom: 60px; }
	.mg-x-b70 { margin-bottom: 70px; }

	.mg-x-t0 { margin-bottom: 0px; }
	.mg-x-t15 { margin-top: 15px; }
	.mg-x-t10 { margin-top: 10px; }
	.mg-x-t20 { margin-top: 20px; }
	.mg-x-t30 { margin-top: 30px; }
	.mg-x-t40 { margin-top: 40px; }
	.mg-x-t50 { margin-top: 50px; }
	.mg-x-t60 { margin-top: 60px; }
	.mg-x-t70 { margin-top: 70px; }

	.node-data {
		display: block;
		.moveAction{
			margin: 20px 0;
			.fa-forward {
				transform: rotate(90deg);
			}
			.fa-backward {
				transform: rotate(90deg);
			}
		}
	}
}

@media only screen and (max-width: 479px)  {
}

@media only screen and (max-width: 479px)  {
}